
.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: rgb(250, 62, 5);
}

table {
  color: rgb(8, 8, 7);
  border-radius: 8px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: hsla(246, 49%, 63%, 0.603);
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}